/* Global Styles */

body {
  font-family: "Abril Fatface", cursive;
  color: #686868;
}

.page-intro > h1 {
  font-size: 7vh;
}

.page-intro > h2 {
  font-size: 2.75vh;
}

/* P2 - Artist Slides */

.artist-card {
  width: 90%;
  height: 90vh;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  text-align: center;
}

.artist-card:hover {
  background-color: #e9f7ff;
}

.art-container {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.art-container > h3 {
  color: #71b5dc;
}

.LdV-Slides {
  object-fit: contain;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  width: 200px;
  height: auto;
}

.nhj-slides {
  object-fit: contain;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  width: 200px;
  height: auto;
}

.fhn-Slides {
  object-fit: contain;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  width: 300px;
  height: auto;
}

.bolinsky {
  object-fit: contain;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 400px;
  height: 250px;
}

.mv-Slides {
  object-fit: contain;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  width: 200px;
  height: auto;
}

.aedh-Slides {
  object-fit: contain;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  width: 400px;
  height: auto;
}

/* P3 - FAQs*/

.accordion {
  background-color: #eaeaea;
  color: #71b5dc;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 22px;
  font-family: "Abril Fatface", cursive;
  transition: 0.4s;
}

.active,
.accordion:hover {
  background-color: #e9f7ff;
}

.open-FAQ {
  padding: 0 18px;
  display: none;
  background-color: #e9f7ff;
  overflow: hidden;
  font-size: 16px;
  color: #686868;
}

/* Footer Styles */

.signature {
  background: #e9f7ff;
  color: #71b5dc;
  padding: 5px 20px;
}

.signature > p > a {
  color: #71b5dc;
}

@media (min-width: 768px) {
  footer {
    display: flex;
    justify-content: center;
  }
}

/* Section Styles */
/* Grid Styles */
/* Card Styles */
/* Header Styles */
/* Button Styles */
/* Navbar Styles */
/* Navigation Mobile Styles */
/* Navigation Desktop Styles */
